[Unit]
Description=Kitchen Mic Service
After=network.target

[Service]
Type=simple
ExecStart=${HOME}/Projects/kitchen_mic/venv/bin/python -m src.service.kitchen_mic start --config ${HOME}/Projects/kitchen_mic/config/default.yaml
WorkingDirectory=${HOME}/Projects/kitchen_mic
Environment=PYTHONPATH=${HOME}/Projects/kitchen_mic
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
